@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 4em;
}

nav {
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: #374249;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  float: right;
}
nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 1.4em;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 20px;
}
nav ul li a img {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  background-color: #f38181;
}
nav ul li a:hover {
  text-decoration: underline;
}

.intro {
  background: url("../img/intro.jpg");
  background-size: cover;
  height: 800px;
  text-align: center;
}
.intro #intro-text {
  padding: 1em;
  background-color: rgba(55, 66, 73, 0.5);
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 123px;
  line-height: 2.5em;
}
.intro #intro-text h1 {
  font-size: 3em;
}
.intro #intro-text #info {
  font-size: 1.3em;
}

.links {
  width: 100%;
  height: 100px;
  text-align: center;
}
.links a {
  color: #374249;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border: 1px solid #cfd1d3;
  border-radius: 20px;
}
.links a:hover {
  background-color: #cfd1d3;
  color: #FFFFFF;
}

.images {
  width: 100%;
  background-color: #f3f7f9;
  padding-left: 500px;
}
.images div:hover .img-text {
  visibility: visible;
}
.images img {
  border-radius: 50%;
  width: 200px;
  height: auto;
  padding: 10px;
}
.images .img-text {
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  visibility: hidden;
}
.images .img-text h4 {
  text-transform: uppercase;
}
.images .img-text p {
  color: #f38181;
}

.pricing {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: #374249;
}
.pricing h2 {
  text-transform: uppercase;
}
.pricing p {
  padding: 20px;
}
.pricing table {
  margin: 0 auto;
  width: 50%;
}
.pricing table th {
  padding: 10px;
}
.pricing table .th1 {
  background-color: #f38181;
  color: #f3f7f9;
}
.pricing table .th2 {
  background-color: #374249;
  color: #f3f7f9;
}

.contact {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  background-color: #f3f7f9;
  height: 700px;
  margin-bottom: 0px;
}
.contact h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.contact iframe {
  display: inline-block;
  float: left;
  margin-left: 400px;
}
.contact form {
  background-color: #f38181;
  display: inline-block;
  position: relative;
  width: 40%;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
}
.contact form select {
  width: 27%;
}
.contact form input {
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.contact form #fullname {
  width: 70%;
  margin-left: 13px;
}
.contact form #message {
  height: 80px;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #374249;
  padding: 10px;
  margin-top: 0;
  color: #f3f7f9;
}
footer span {
  color: #f38181;
}

@media screen and (max-width: 950px) {
  nav {
    position: relative;
  }

  iframe {
    display: block;
  }

  form {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  nav {
    position: relative;
  }
  nav ul > li {
    float: right;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-top: 80px;
    padding-bottom: 1px;
  }
  nav ul > li a > img {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
  }

  .links {
    margin-bottom: 70px;
  }
  .links a {
    display: block;
    width: 100%;
  }

  .images {
    padding-left: 10px;
  }
  .images div {
    display: block;
  }
  .images div img {
    width: 100px;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
