@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 4em;
}

nav {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: $dark-blue;
    

    ul {
        list-style-type: none;
        float: right;
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 1.4em;

            a {
                text-decoration: none;
                color: #FFFFFF;
                padding-right: 20px;
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 64px;
                    height: 64px;
                
                    background-color: $red;
                    
                    
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.intro {
    background: url('../img/intro.jpg');
    background-size: cover;
    height: 800px;
    text-align: center;

    #intro-text {
        padding: 1em;
        background-color: rgba(55, 66, 73, .5);
        color: #FFFFFF;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 123px;
        line-height: 2.5em;

        h1 {
            font-size: 3em;
        }

        #info {
            font-size: 1.3em;
        }
    }
}

.links {
    width: 100%;
    height: 100px;
    text-align: center;

    a {
        color: $dark_blue;
        text-decoration: none;
        display: inline-block;
        margin: 20px;
        padding: 10px;
        border: 1px solid $light_gray1;
        border-radius: 20px;

        &:hover {
            background-color: $light-gray1;
            color: #FFFFFF;
        }
    }
}

.images {
    width: 100%;
    background-color: $light_gray2;
    padding-left: 500px;

    div:hover {
        .img-text {
            visibility: visible;
        }
    }

    img {
        border-radius: 50%;
        width: 200px;
        height: auto;
        padding: 10px;
    }

    .img-text {
        vertical-align: middle;
        display: inline-block;
        padding: 10px;
        
        h4 {
            text-transform: uppercase;
        }
        p {
            color: $red;
        }
        visibility: hidden;
    }
    
}

.pricing {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: $dark_blue;

    h2 {
        text-transform: uppercase;
    }

    p {
        padding: 20px;
    }

    table {
        margin: 0 auto;
        width: 50%;
        th {
            padding: 10px;
        }

        .th1 {
            background-color: $red;
            color: $light_gray2;
        }
        .th2 {
            background-color: $dark_blue;
            color: $light_gray2;
        }
    }
}

.contact {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color: $light_gray2;
    height: 500px;
    margin-bottom: 0;

    h2 { 
        text-transform: uppercase; 
        margin-bottom: 50px;
    }

    iframe {
        display: inline-block;
        float: left;
        margin-left: 400px;
    }

    form {
        background-color: $red;
        display: inline-block;
        width: 40%;
        height: 200px;
        padding: 10px;
        margin-bottom: 20px;


        select {
            width: 27%;
        }
        
        input {
            width: 100%;
            padding: 5px;
            margin: 5px;
        }

        #fullname {
            width: 70%;
            margin-left: 13px;
        }
        #message {
            height: 80px;
        }
    }
    
}

footer {
    width: 100%;
    text-align: center;
    background-color: $dark_blue;
    padding: 10px;
    margin-top: 0;
    color: $light_gray2;
    span {
        color: $red;
    }
}